* {
	box-sizing: border-box;
}

html {
	--font-size-sm: clamp(0.7rem, 0.26vw + 0.63rem, 0.84rem);
	--font-size-base: clamp(0.88rem, 0.45vw + 0.76rem, 1.13rem);
	--font-size-md: clamp(1.09rem, 0.74vw + 0.91rem, 1.5rem);
	--font-size-lg: clamp(1.2rem, 1vw + 1rem, 2rem);
	--font-size-xl: clamp(1.85rem, 1.75vw + 1.35rem, 3.2rem);
	--font-size-xxl: clamp(2.14rem, 2.57vw + 1.49rem, 3.55rem);
	--font-size-xxxl: clamp(2.67rem, 3.75vw + 1.73rem, 4.73rem);

	font-size: var(--font-size-base);
	font-family: 'Quicksand', sans-serif;
	font-optical-sizing: auto;
	height: 100vh;
	line-height: 1.5;

	background: oklch(0.94 0.11 94.21);
}

body {
	margin: 0;
	padding-block-end: 100px;
}

h1,
h2,
h3,
h4 {
	font-family: 'Cherry Bomb One', system-ui;
}

h2 {
	font-weight: 800;
	font-size: var(--font-size-xl);
	line-height: 1.05;
	margin: 0 0 0.2rem 0;
}
h2 a {
	text-decoration: none;
	color: black;
}
h2 a:hover,
h2 a:focus {
	text-decoration: underline;
}
h3 {
	font-size: var(--font-size-lg);
	font-weight: 900;
	text-transform: uppercase;
	margin: 0.2rem 0;
}

p {
	margin: 0 0 1rem 0;
	max-width: 69ch;
}

.toggle-area {
	position: absolute;
	top: 5px;
	right: 5px;
	button {
		border: 0;
		background: rgba(white, 0.33);
		color: black;
		font-family: inherit;
		padding: 0.5rem 0.66rem;
		&:first-child {
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
		}
		&:last-child {
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
		}
	}
}
