* {
	box-sizing: border-box;
}

html {
	--yellow: 47 100% 50%;
	background: radial-gradient(circle at top left, white, hsl(var(--yellow) / 0.5) 400px),
		url(/images/noise.png);
	background-size: cover, 400px;
	height: 100vh;
	font-family: system-ui;
	line-height: 1.4;
}

body {
	margin: 0;
}

h1,
h2 {
	margin: 0 0 0.5rem 0;
	font-size: 2rem;
	line-height: 1.2;
}

p {
	margin: 0 0 1rem 0;
}
