* {
	box-sizing: border-box;
}

html {
	--font-size-sm: clamp(0.7rem, 0.26vw + 0.63rem, 0.84rem);
	--font-size-base: clamp(0.88rem, 0.45vw + 0.76rem, 1.13rem);
	--font-size-md: clamp(1.09rem, 0.74vw + 0.91rem, 1.5rem);
	--font-size-lg: clamp(1.37rem, 1.15vw + 1.08rem, 2rem);
	--font-size-xl: clamp(1.71rem, 1.74vw + 1.27rem, 2.66rem);
	--font-size-xxl: clamp(2.14rem, 2.57vw + 1.49rem, 3.55rem);
	--font-size-xxxl: clamp(2.67rem, 3.75vw + 1.73rem, 4.73rem);

	font-size: var(--font-size-base);

	--yellow: 47 100% 50%;

	--shadow-color: 55deg 45% 54%;
	--shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
		0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
		1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
	--shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
		0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
		2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
		5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
	--shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
		1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
		2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
		4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
		7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
		11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
		17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
		25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);

	background: radial-gradient(circle at top left, white, hsl(var(--yellow) / 0.5) 400px),
		url(/images/noise.png);
	background-size: cover, 400px;
	background-attachment: fixed;
	height: 100vh;
	font-family: 'Outfit', sans-serif;
	line-height: 1.4;
}

body {
	margin: 0;
}

@font-face {
	font-family: 'MD Primer';
	src: url('/fonts/MDPrimer-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

h1,
h2 {
	font-family: 'MD Primer', system-ui, sans-serif;
	font-weight: 900;
	margin: 0 0 0.5rem 0;
	font-size: var(--font-size-xl);
	line-height: 1.2;
	font-weight: 800;
}

p {
	margin: 0 0 1rem 0;
	max-width: 69ch;
}
