---
const { title } = Astro.props;
---

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link rel="stylesheet" href={Astro.resolve('../styles/global.scss')} />
		<link
			rel="icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌯</text></svg>"
		/>
		<meta name="theme-color" content="#18083c" />
		<meta name="monetization" content="$ilp.uphold.com/biyqg2MkQKbe" />
	</head>
	<body>
		<div class="root">
			<div class="logo">Breakfast Burritos in Bend, Reviewed.</div>
			<main><slot /></main>
		</div>
	</body>
</html>

<style lang="scss">
	.logo {
		background-image: url(/images/logo.svg);
		background-repeat: no-repeat;
		background-size: 300px;
		height: 200px;
		background-blend-mode: darken;
		text-indent: -9999px;
		overflow: hidden;
	}
</style>
