---
const { title } = Astro.props;
import '../styles/global.scss';
---

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link
			rel="icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌯</text></svg>"
		/>
		<meta name="theme-color" content="#18083c" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Quicksand:wght@500&display=swap"
			rel="stylesheet"
		/>
	</head>

	<body data-format="grid">
		<div class="root">
			<h1 class="logo">
				BREAKFAST BURRITOS
				<span>in Bend, Oregon</span>
			</h1>
			<main><slot /></main>
		</div>

		<style lang="scss">
			.logo {
				text-align: center;
				padding: 4rem 1rem;
				font-size: var(--font-size-xxxl);
				line-height: 1;
				span {
					display: block;
					font-size: var(--font-size-xl);
				}
			}
		</style>

		<script>
			const allImageZones = document.querySelectorAll('.images');
			allImageZones.forEach((zone) => {
				// view transition
			});
		</script>
	</body>
</html>
